canvas {
    cursor: default;
    outline: none;
}

body {
    background-color: #FF971E;
    color: #FFFABA;
    font-family: sans-serif;

}
div#embed-html {
    background-color: #202020;
    width: 800px;
    height: 480px;
    margin:0 auto;
    margin-top: 50px;
}

a {
    color:#202020;
}
