canvas {
    cursor: default;
    outline: none;
}

body {
    background-color: #FF971E;
    color: #FFFABA;

}
div#embed-html {
    background-color: #FF1E99;
    width: 800px;
    height: 480px;
    margin:0 auto;
    margin-top: 50px;


}

